body {
    height: 100%;
    background-color: rgb(44, 44, 44);
    color: #2766ec;
    margin: 0 auto;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul, ol {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
  color: #2766ec;
}

a:visited {
  color: #2766ec;
}

a:hover {
  color: #568bff;
}

h1 {
  margin: 5px 0;
}

h2 {
  margin: 5px 0;
}

p {
  margin: 0;
}

.navigation {
  display : block;
  text-transform: uppercase;
}

.navigation_background {
  width: 45%;
  background: rgba(19, 51, 114, 0.5);
  padding: 5px 60px;
  margin: 0 auto;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px 30px;
}

.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.main__left_side {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 15px;
}

.main__right_side {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 15px;
}

.profile__photo {
  position: relative;
  width: 200px;
  border-radius: 200px;
  border: 2px solid white;
}

.contacts {

}

.contacts__info {
  display: flex;
  align-items: center;
  padding: 3px;
}

.contacts__icons {
  position: relative;
  width: 25px;
  border-radius: 25px;
  background-color: white;
  padding: 2px;
  border: 2px solid black;
}

.skills__icons {
  position: relative;
  width: 45px;
  padding: 2px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
}

.skills__progress {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skills__progress_bar {
  flex: 1;
  height: 40px;
  background-color: #ffffff1f;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.skills__progress_fill {
  height: 100%;
  background-image: linear-gradient(to right, rgb(9, 48, 121), rgba(60, 122, 255, 0.719));
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: rgb(255, 255, 255);
}