body {
    height: 100%;
    background-color: rgb(44, 44, 44);
    color: #2766ec;
    margin: 0 auto;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul, ol {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
  color: #2766ec;
}

a:visited {
  color: #2766ec;
}

a:hover {
  color: #568bff;
}

.navigation {
  display : block;
  text-transform: uppercase;
}

.navigation_background {
  width: 45%;
  background: rgba(19, 51, 114, 0.5);
  padding: 5px 60px;
  margin: 0 auto;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px 30px;
}

.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.main__left_side {
  display: flex;
  flex-direction: column;
}

.main__right_side {
  display: flex;
  flex-direction: column;
}

.profile__photo {
  position: relative;
  width: 200px;
  border-radius: 200px;
  border: 2px solid white;
}

.contacts {

}

.contacts__info {
  display: flex;
  align-items: center;
  padding: 3px;
}

.contacts__icons {
  position: relative;
  width: 25px;
  border-radius: 25px;
  background-color: white;
  padding: 2px;
  border: 2px solid black;
}